<div class="container mt-5 mb-5" style="width: 600px; margin: auto; ">
  <div><i class="fa fa-check-circle fa-5x" style="color: green;"></i></div>
  <h2>Thank you.  Your order is confirmed</h2>
  <p class="mb-4">Your order has not shipped yet, but this is to be expected as we are not a real store</p>
  <button  [routerLink]="['/products']" class="btn btn-outline-success ">view Products</button>
  <button  [routerLink]="['/basket']" class="btn btn-outline-danger mx-4">Back To Cart</button>
</div>
